#!/bin/zsh

# Self
alias pcsetup="ansible-playbook $HOME/github/wbh1/setup_pc/playbook.yml"

# Installed via mise
# if (( $+commands[bat] )); then
#   alias cat="bat"
# fi

if (( $+commands[nvim] )); then
  alias vim="nvim"
fi

# vscode wayland
alias vscode="/usr/bin/code --ozone-platform=wayland"

# K8s
alias k=kubectl
alias kctx=kubectx
alias kns=kubens

# Linode
alias lin=linode-cli

# Git
alias gsync="gcm && glum && gp"

# Todoist
alias td="todoist"
alias today='td cl --filter today | cut -d " " -f "5-"'
## Reschedule today's remaining work tasks to tomorrow
alias tdr="td sync && td --csv l -f '(today | overdue) & #work' | cut -d ',' -f 1 | xargs -I{} -n1 todoist m -d tomorrow {}"

# Mac specific
if [ "$(uname)" = "Darwin" ]; then
  alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"
  alias cpssh="pbcopy < ~/.ssh/id_rsa.pub"
  # courtesy of Matt Dennison / Donald Lehman
  alias kickeaa='sudo pkill -9 -i "aztwatchdog|aztservice|AZTClient" && dscacheutil -flushcache'
fi

{{- if eq .chezmoi.group "staff" }}
# alias vaultlogin="vault login -method ldap username=${USER}"
vault-login() {
  ADDR=https://{{ .vault_url }}
  export VAULT_TOKEN=`VAULT_ADDR=$ADDR vault login -field token -method=oidc username=$USER`
  export VAULT_ADDR=$ADDR
}

# Login as root to an HSS match
rhss() {
  hss $1 -l root
}

# Search Jira issues
js() {
  if [[ -z "${1// }"]]; then
    echo "Must provide 'text' to search."
    exit 1
  else
    jira issue list 'text ~ "$1"'
  fi
}
{{- end }}

cdd() {
  DIR=$(fd --type directory --exact-depth 2 --base-directory $HOME --relative-path '' bits github | fzf)
  if [[ $? -eq 0 && -n "$DIR" ]]; then
    cd $HOME/$DIR
  else
    echo "Cancelled..."
  fi
}

# [o]pen [v]im
ov() {
  cdd
  nvim
}

# Clipboard
alias xclippy="xclip -i -sel clip"

# Jira
alias jv="jira issue view"
alias js="jira issue search"
alias oy="jira issue search"

# Chezmoi
alias ce="chezmoi edit"
source /Users/whegedus/.config/op/plugins.sh
