{{ if eq .chezmoi.os "linux" }}
# Omarchy settings
config-file = ?"~/.config/omarchy/current/theme/ghostty.conf"
font-family = "CaskaydiaMono Nerd Font"
font-size = 9
{{ else }}
theme = Nordfox
font-family = "JetBrainsMono Nerd Font Mono"
{{ end }}
window-height = 46
window-width = 166
window-padding-x = 5
window-padding-y = 5
keybind = global:cmd+grave_accent=toggle_quick_terminal
quick-terminal-position = center
confirm-close-surface = false

keybind = ctrl+a>h=goto_split:left
keybind = ctrl+a>j=goto_split:bottom
keybind = ctrl+a>k=goto_split:top
keybind = ctrl+a>l=goto_split:right

keybind = ctrl+a>shift+'=new_split:down
keybind = ctrl+a>shift+5=new_split:right
keybind = ctrl+a>z=toggle_split_zoom

# Slowdown mouse scrolling
mouse-scroll-multiplier = 0.95
