[tools]
teleport-community = "14.0.3"
pint = "0.61.2"
yarn = "1"
pnpm = "latest"
vale = "latest"
"go:github.com/prometheus/alertmanager/cmd/amtool" = "latest"
promtool = "3.5.0"
git-cliff = "2.5.0"
sloth = "0.13.1"
"go:github.com/neilotoole/sq" = "0.48.3"
infracost = "0.10.39"
pandoc = "latest"
# Needed for pandoc PDF export
tinytex = "latest"
argocd = "2.12.7"
"github:google/mtail" = "latest"
"github:grafana/grizzly" = "0.7.1"
"github:grafana/loki" = { version = "2.9.13", matching = "logcli-darwin-arm", exe="logcli-darwin-arm64", rename_exe="logcli" }
ruby = "3.4.2"
"gem:hss" = "latest"
# Manually install my fork until PR merged: https://github.com/ankitpokhrel/jira-cli/pull/925
# "go:github.com/ankitpokhrel/jira-cli/cmd/jira" = "latest"
pkl = "0.28.2"
"github:tjhop/prometheus-mcp-server" = "latest"
shellcheck = "latest"

[settings]
experimental = true

[tool_alias]
sloth = "asdf:linode-obs/asdf-sloth"


[tasks.gen-key]
description = "Generate a new SSH key"
usage = '''
arg "<key-type>" help="What type of SSH key to generate" {
  choices "internal" "deployed"
}
'''
run = '''
ssh-keygen -t rsa -b 2048 \
  -P `op read --account "linode" "op://Employee/SSH Key Passphrase/password"` \
  -C "`whoami`-${usage_key_type?}-`date +%Y-%m-%d`" \
  -f ~/.ssh/${usage_key_type?}/`whoami`-${usage_key_type?}-`date +%Y-%m-%d`
'''
